div {
  /* border: 1px solid lightgreen; */
}
a {
  text-decoration: none;
}
.navbar-container {
  display: flex;
  align-items: center;
  position: relative;
  top: 1vh;
  /* border: 1px solid lightgreen; */
  left: 0;
  width: 100vw;
  z-index: 10;
}
#nav-logo {
  position: fixed;
  top: 1vh;
  left: 1vw;
  scale: 0.7;
  width: 7vw;
}
#nav-items-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  align-items: center;
  grid-template-rows: 10vh;
  width: 100vw;
  align-items: center;
  justify-content: space-evenly;
}

.not-logo {
  font-weight: bold;
  font-size: 1.35em;
  padding: 2vh 3vw;
  /* margin: -2vw; */
}
.nav-items:hover {
  font-weight: bold;
  font-size: 1.35rem;
  background-color: rgb(189, 185, 237);
}

.nav-items a {
  color: hotpink;
}

.hero-container {
  background-image: url('/images/pexels-peter-laskowski-3458997.jpg');
  height: 130vh;
  width: 100vw;
  background-size: cover;
  position: relative;
  top: -15vh;
  left: 0;
}
#hero-title-container {
  position: absolute;
  margin-top: 24vh;
  text-align: center;
  width: 100vw;
  background-color: rgba(59, 47, 233, 0.213);
}
#pink-advantage {
  color: #e542c2 !important;
  font-weight: bold;
  font-size: 1.2em;
}
.hero-title {
  color: #fff;
}
.icon-container {
  display: flex;
  justify-content: space-evenly;
  /* border: 3px solid blue; */
}
.icon {
  position: relative;
  top: 40vh;
  background-color: hotpink;
}

.services-wrapper {
  display: grid;
  grid-template-columns: 25vw 25vw 25vw;
  grid-template-rows: 20vh 20vh;
  justify-content: center;
  align-items: center;
  grid-gap: 1vh;
  padding: 8vh;
  background-color: lightblue;
}

.service-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: white;
  border-radius: 20px;
  width: 100%;
  min-height: 20vh;
}

.r1 {
  background-color: #e542c2;
}
.r2 {
  background-color: #e542c2b5;
}
.r3 {
  background-color: #e542c275;
}

.service-container:hover {
  cursor: pointer;
}

.service-container h5 {
  color: #fff;
  font-size: 1.2em;
}
.service-details {
  display: none;
}

.active h5 {
  font-weight: 800;
  font-size: 1.2em;
  text-decoration: underline;
}
.active p {
  font-weight: 500;
  font-size: 1em;
  text-align: center;
  padding: 1vw;
}

#cyber-essentials-logo {
  margin-top: 5vh;
}
